h1.resume-title {
  color: #009999;
  font-size: 30px;
  margin: 5px;
}

div#header {
  text-align: center;
}

p.item-title {
  font-weight: bold;
}

div.item {
  margin-block-end: 12px;
}

p.item-time {
  font-weight: bold;
}

p.awards-title {
  font-weight: bold;
}

p.education-title {
  font-weight: bold;
}

html * {
  font-family: monospace
}

@page {
  size: "A4";
}

body.A4 .sheet {
  height: 100% !important;
}

p, li {
  font-size: 11px;
}

section.sheet {
  margin:auto;
}

h2 {
  margin-block-end: 5px; 
}

p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

