:ruby
  profile = yaml["profile"]
  awards = yaml["awards"]
  education = yaml["education"]
  experience = yaml["experience"]
!!!
%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => config.stylesheet_file}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css"}
  %body.A4
    %section.sheet.padding-10mm
      %div#header
        %h1.resume-title= profile["name"].upcase
        %p= "#{profile["phone"]}\t~\t#{profile["email"]}\t~\t#{profile["links"]["linked_in"]}"
        %hr

      %div#profile
        %h2 PROFILE
        %p= profile["description"]

        %div#experience
        %h2 EXPERIENCE
        - display_roles = config.template_config&.dig("display_roles")
        - experience.each do |e|
          - if display_roles.nil? || display_roles.any? { |r| r["org"] == e["org"] && r["title"] == e["title"] }
            %div.experience-item.item
              %p.item-title= "#{e["title"]}, #{e["org"]}"
              %p.item-time= "#{e["start"]} - #{e["end"]}"
              %p= e["description"]
              - if e["achievements"]
                %ul
                  - e["achievements"].each do |a|
                    - if a["show"] != false
                      %li= a["detail"]

      %div#education
        %h2 EDUCATION
        - education.each do |e|
          - if e["show"] != false
            %div.education-item.item
              %p.item-title= "#{e["org"]}"
              %p.item-time= "#{e["finished"]}"
              %p= e["title"]

      %div#references
        %h2 REFERENCES
        %p Available on request
